/* General Styles: Author Timos*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3a3a3a;
    color: white;
    padding: 1rem;
    /* text-align: center; */
    position: fixed;
    width: 100%;
}

#home {
    padding-top: 15rem;
}

#row-products {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #3a3a3a;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Slider Styles */
#slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
}

.navbar-brand img {
    width: 30%;
    height: 8%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: auto;
    /* flex-shrink: 0; */
}

.col-md-3 .card {
    width: 22rem;
}

.col-md-4 .card {
    width: 30rem;
}

.my-5 {
    padding-top: 10rem;
}

/* Login Form */
#my-login-form {
    padding-top: 12rem;
}

#login-form {
    max-width: 400px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#login-form label {
    display: block;
    margin-bottom: 0.5rem;
}

#login-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login-form button {
    width: 100%;
    padding: 0.7rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #555;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f1f1f1;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}